player-connection-mode=Listen
player-connection-guid=460064666
player-connection-debug=0
player-connection-project-name=M02 DV01 Battle Royale
player-connection-ip=172.19.161.150
player-connection-ip=172.20.128.1
player-connection-ip=192.168.56.1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=7183283bd6c046d494016c4f0fefdc2c
